body {
  margin: 0;
  font-family: "karla", sans-serif;
  background-color: #0b2434;
  padding: 35px 15px;
  position: relative;
}
main {
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 500px;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.title {
  font-size: 25.6px;
  letter-spacing: -0.03em;
}
.instruction {
  font-family: "inter", sans-serif;
  font-size: 13.1072px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4a4e74;
}
.main-div {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die-container {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
button {
  height: 50px;
  width: 120px;
  background-color: #5035ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "karla", sans-serif;
  font-size: large;
  position: relative;
  top: 80px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  main {
    margin: 5rem 2rem;
  }
}
